h1, h2, p {
    text-align: center;
    margin: 30px;
}

.embed-responsive {
    margin: auto;
    padding-bottom:90%;
    width: 75%;
}

@media (max-width: 599px) {
    img.center {
        display: block;
        margin: auto;
        width: 30%;
    }
  }

@media (min-width: 600px) {
    img.center {
        display: block;
        margin: auto;
        width: 15%;
    }
  }

form {
    text-align: center;
}


.submit:hover, .submit:not(hover) {
    text-align: center;
    margin: 30px
}


@media (max-width: 600px) {
    body {
        background-color: white;
    }
  }

/*

.topnav {
    background-color: rgb(39, 38, 38);
    overflow: hidden;
  }
  
  // Style the links inside the navigation bar
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  // Change the color of links on hover
  .topnav a:hover{
      background-color: lightgrey;
      color: black;
  }
  
  // Add a color to the active/current link 
  .topnav a.active {
    background-color: lightcoral;
    color: white;
  }

  */
